<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">{{blog.name}}</h1>
    <p class="lead my-3">{{blog.description}}</p>
  </div>
  <div class="col-md-1 ">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example" *ngIf="isAccessible()">
      <a href="" class="btn btn-outline-warning" [routerLink]="['edit']">Edit</a>
      <a href="" class="btn btn-outline-danger" [routerLink]="['delete']">Delete</a>
    </div>
  </div>
</div>

<div class="row g-5">
  <div class="col">
    
    <p class="text-end" *ngIf="isAccessible()">
      <a href="" [routerLink]="['articles/new']">Create article</a>
    </p>
    
    

    <article class="blog-post" *ngFor="let article of articles">
      <h2 class="blog-post-title">{{article.title}}</h2>
      <p class="blog-post-meta">{{article.dateOfCreation}} by <a href="#">{{article.creatorName}}</a></p>

      <p>{{article.content | truncate:230}}</p>
      <a href="" [routerLink]="['articles', article.id]"> See More</a>
      <hr>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </nav>

  </div>