<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">MyBlog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="me-auto navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!_authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/register']">New Account</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="_authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link text-dark">Welcome, {{_authService.userValue.userName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/login']" (click)="_authService.logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
